@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
     box-sizing: border-box;
}

header {
    background-color: black;
    padding: 20px 0;
    height: 81px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: baseline;
}

.logo {
    
}

.search {
    position: relative;
    height: 30px;
}

input {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    border: 2px solid #3c4147;
    border-radius: 5px;
    outline: none;
    /*padding: 10px 23px 10px 10px;*/
    background-color: black;
    font-size: 14px;
    color: #a4aead;
}

::placeholder {
    color: #a4aead;
    font-size: 14px;
    text-transform: uppercase;
}

button {
    position: absolute;
    top: 7px;
    right: 23px;
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
    background-image: url(images/search.png);
    background-color: white;
}

.menu {
    display: flex;
    align-items: center;
}

.menu>a {
    color: #a4aead;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 12px;
    line-height: 20px;
    margin-right: 11px;
    border: 2px solid transparent;
}

.menu>a:hover{
    border: 2px solid #5a6068;
    border-radius: 5px;
}

.menu a:first-child {
    border: 2px solid #23b7a3;
    color: #23b7a3;
    border-radius: 5px;
}

@media(max-width:767px) {
    .search { 
        display: none;
    }
}